.containerbox {
		background-color: black;
 }

p		{
		 color:#4aaaa5;
 		 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 	     font-size: 16px;
 }


 .hr1{
			border: 2px dotted #cccccc ;
}

 .box {
		border: 2px dotted #dddddd ; 
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #4aaaa5;
		background-color: black; 
		color: white;
		text-align: center;
		font-size: 16px
		margin-left: 25px;

 }

 .head1 { 	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
			color: white;
			font-weight: bolder;
			font-size: 28px;
			height: 70px;
			text-align: center;
			background-image: url(../images/animalhousehdr.jpg); 
			line-height: 150%;
} 

.button {
		 font-weight:bolder; 
		 cursor:pointer; 
	     margin-left: 5px;
	     font-size:16px;
	     color: #4aaaa5;
}

.footer{ 
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        background-color: #666666;
        color: #777777;
        font-size: 16px;
        font-weight: bolder;
        height: 80px;
        line-height: 75px;
        text-align: center;
        width: 100%;
}

.text1 {text-align: center;
      	background-color: white;
      	color: grey;
      	font-size: 16px;
      	width: 180px;
      	font-family: 'Georgia', Times, Times New Roman, serif;
 }

 .p	{
 		 font-weight:bold; 
 		 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  	     font-size: 18px;
 	     color:#4aaaa5;
 }

.label	{font-weight:bold; 
		 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 	     font-size: 18px;
 	     color:#4aaaa5;
 }


 